/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* List */

ul {
  list-style: none;
}

/* /list */

/* links */
a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

/* links */

/* text */

.op-1 {
  opacity: 1;
}

.no-wrap {
  white-space: nowrap;
}

/* /text */

/* buttons */

.btn {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.btn-grey {
  background-color: #ebebeb;
}

.btn-black {
  color: white;
  background-color: rgb(25, 28, 31);
}

/* /buttons */

/* /GLOBAL */

/* HEADER */

/* general settings */

header {
  width: 100vw;
  height: 100px;
  /* background-color: cadetblue; */
  /* border-bottom: 1px solid black; */
}

header nav.navbar-header {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}

header nav.navbar-header .menu-left,
header nav.navbar-header .menu-right {
  display: flex;
  align-items: center;
}

header nav.navbar-header .menu-right .with-dropdown .active {
  display: block;
}

/* /general settings */

/* menu left */

header nav.navbar-header .menu-left li:first-child {
  margin-right: 60px;
}

header nav.navbar-header .menu-left li {
  margin-right: 40px;
}

header nav.navbar-header .menu-left li a img {
  width: 50px;
}

/* /menu left */

/* menu right */

header nav.navbar-header .menu-right li {
  cursor: pointer;
  margin-right: 40px;
}

header nav.navbar-header .menu-right li:nth-child(5) {
  margin-right: 10px;
}

header nav.navbar-header .menu-right li.with-dropdown {
  height: 100%;
  line-height: 100px;
  position: relative;
}

.menu-right .dropdown-features .dropdown-content {
  display: flex;
}

.menu-right .dropdown-features .dropdown-content .list-content {
  padding: 10px 50px;
}

.menu-right .dropdown-content .list-content li {
  line-height: 50px;
}

header nav.navbar-header .menu-right .dropdown-features,
header nav.navbar-header .menu-right .dropdown-plans,
header nav.navbar-header .menu-right .dropdown-about,
header nav.navbar-header .menu-right .dropdown-help {
  display: none;
  position: absolute;
  /* min-height: 320px; */
  /* background-color: cadetblue; */
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
}

/* features */

header nav.navbar-header .menu-right .dropdown-features {
  top: 100px;
  left: -305px;
  width: 1000px;
}

/* /features */

/* plans */

header nav.navbar-header .menu-right .dropdown-plans {
  width: 150px;
  left: -20px;
}

header nav.navbar-header .menu-right .dropdown-plans .dropdown-content {
  padding-left: 20px;
}

/* /plans */

/* about us */

header nav.navbar-header .menu-right .dropdown-about {
  width: 180px;
  left: -20px;
}

header nav.navbar-header .menu-right .dropdown-about .dropdown-content {
  padding-left: 20px;
}

/* /about us*/

/* help */

header nav.navbar-header .menu-right .dropdown-help {
  width: 180px;
  left: -20px;
}

header nav.navbar-header .menu-right .dropdown-help .dropdown-content {
  padding-left: 20px;
}

/* /help */

/* /menu right */

/* /HEADER */
